<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynavigator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/carlary_app_logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carlary_app_logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".user.UserActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZ1TZ6gVPWNsmVQUgl6uiQqLB66r1aOws" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".service.CanaryService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service
            android:name=".service.DetectedActivitiesIntentService"
            android:exported="false" />
        <service android:name=".service.BackgroundDetectedActivitiesService"></service>

        <receiver
            android:name=".service.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".service.StopServiceReceiver"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>